.contact {
	@include container;
	padding: 5em 0;

	h1 {
		color: $accent;
		font-weight: $fw-b;
		text-align: center;
	}
}

form {
	display: flex;
	flex-direction: column;
	
// if our browser supports grid layout we're going to use it
// instead of flex layout
	@supports (display: grid) {
		@include mq {
			display: grid;
			grid-column-gap: 1em;
			grid-template-areas: 
				"name email"
				"message message"
				"	.		button";

			.name {
				 grid-area: name;
			}

			.email {
				grid-area: email;
			}

			.message {
				grid-area: message;
			}

			.button {
				grid-area: button;
			}
		}

		
	}
}

label {
	display: block;
	margin-top: 1em;

	color: $dark-grey;
}

input,
textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	min-width: 15em;
	padding: .75em;

	background: lighten($light-grey, 7%);
	border: 1px solid $light-grey;

	font-size: 1.2rem;
}

textarea {
	height: 10em;
	resize: none;
}

.button {
	display: inline-block;
	width: auto;
	min-width: auto;
	margin-top: 1em;
	margin-left: auto;
	padding: .5em 1.5em;

	background: $accent; 
	border: none;
	color: $white; 
	@include sans-serif($fs: 2rem, $color: $white);
}