.general-header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
	background: url('../images/backgrounds/header-bg-min.png') no-repeat center;
	background-size: cover;

	.hamburger {
		position: absolute;
		top: 3em;
		left: 3em;

	} // end of .menu-button

	.logo {
		margin: 2em 5em;
		max-height: 15em;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: $fw-n;
		color: $dark-accent;
		line-height: 2;
		text-align: center;

		@include mq {
			font-size: 2vw;
		}

		span {
			display: block;

			@include sans-serif($fs: 5.5rem, $color: $accent);
		
			@include mq {
				font-size: 7vw;
			}
		} // end of span

		&::before, &::after {
			display: block;
			
			content: '';
			width: 30%;
			height: 1px;
			background: $dark-accent;
		} 

		&::before {
			margin: 0 auto 2em;
		}
		
		&::after {
			margin: 2em auto 0;
		}
	} // end of h1
} // end of .page-header