.intro {
	display: flex;

	h2 {
		color: $white;

		&::after {
			display: block;
			margin: 1em auto 0;
			content: '';
			width: 20%;
			height: 1px;
			background: rgba($white, .5);
		}
	}

	// if our browser supports grid layout we're going to use it
	// instead of flex layout
	@supports (display: grid) {
		display: grid;
		grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
	}
}

.intro-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.5em 5vw;

	background: $dark-accent;

	color: rgba($white, .7);
	text-align: center;
}

.intro-left,
.intro-right {
	img {
		display: block;
		object-fit: cover;
		min-height: 100%;
		min-width: 100%;
	}
}