.portfolio {
	background: $light-grey;
	padding: 5em 0;

	h1 {
		font-weight: $fw-b;
		text-align: center;
	}
} // end of .portfolio

.portfolio-items {
	@include container($max-width: 75em);

	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
} // end of .portfolio-items

.portfolio-item {
	flex: 1 1 10rem;

	position: relative;
	overflow: hidden;

	img {
		display: block;
		width: 100%;

		border: 1px solid $dark-accent;
		border-radius: 5px;
	} // end of img

	figcaption {
		position: absolute;
		top: 100%;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 2em;

		display: flex;
		flex-direction: column;

		background: rgba($dark-accent, .75);
		color: $white;
		text-align: left; 

		transition: top ease-in-out 250ms;

		.portfolio-title {
			margin-bottom: auto;

			color: $white;
			font-size: 2.5rem;
		} // end of .portfolio-title

		.portfolio-description {
			display: none;
		}

		.portfolio-links {
			width: 100%;
			align-self: flex-start;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.portfolio-link,
		.demo-link {
			color: $white;
			font-weight: $fw-b;
			font-size: 1.1rem;
			text-decoration: none;

			border-bottom: 2px solid $white;

			&::after {
				display: inline-block;
				height: .8em;
				width: .8em;
				margin-left: .5em;

				content: url('../images/icons/arrow-white.svg');
			}
		} // end of .portfolio-link
	} // end of figcaption

	&:hover,
	&:focus {  //&:focus is just for mobile devices, where &:hover doesn't work
		figcaption {
			top: 0;
		}
	}
} // end of .portfolio-item

.portfolio-modal {
	display: none;
		
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden; // if some image is more then our width
	top: 2em;
	left: 2em;
	right: 2em;
	bottom: 2em;

	z-index: 10;

	background: $white;
	box-shadow: 0 0 0 3em rgba(black, .5);

	&.is-open {
		display: block;
	} 

	.modal-close {
		position: fixed;
		width: 3em;
		height: 3em;
		left: 1em;
		top: 1em;
		padding: 0; //.35px 0 0;

		background: $white;
		border: 0;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(black, .5);
	
		cursor: pointer;

		i {
			display: block;
		}
	}

	.portfolio-header {
		padding: 5em 0;
		margin-bottom: 2em;

		background: url('../images/backgrounds/header-bg.jpg') no-repeat center;
		background-size: cover;

		text-align: left;
		
		.portfolio-title-box {
			width: 70%;
			padding: 3em; 

			background: rgba($accent, .75);
			color: $white;
		} // end of .portfolio-title-box
	} // end of .portfolio-header

	.portfolio-title {
			display: inline-block;

			font-size: 4rem;
			color: $white;

			&::after {
				display: block;
				height: 1px;
				width: 100%;
				margin: .5em 0;

				content: '';
				background: $white;
			}
		} // end of .portfolio-title

		.portfolio-subtitle {
			font-size: 1.25rem;
			font-weight: $fw-b;
		} // end of .portfolio-subtitle

	.portfolio-content {
		display: flex;
		flex-direction: column;
		
		width: 85%;
		margin: 0 auto;
		padding-bottom: 2em;

		text-align: left;

		img {
			margin-bottom: 30px;
		}

		.general-info {
			width: 50%;
		}

		.description-part {
			display: inline-flex;
			flex-direction: row;
			margin: 2em 0;

			img {
				width: 30%;
				height: 30%;
			}
		} // end of .description-part

		.portfolio-full-width {
			width: 100vw;
			height: 90vh;
			object-fit: cover;
			max-width: initial;
			margin: 2em calc(50% - 50vw); // move our image outside .portfolio-content
																		// to fit all .portfolio-modal width
		} // end of .portfolio-full-width

		@include mq {
			.portfolio-pull-left {
				width: 65%;
				float: left;
				margin-right: 2em;
			}

			.portfolio-pull-right {
				width: 65%;
				float: right;
				margin-left: 2em;
			}

			.portfolio-pull-center {
				width: 100%;
				float: left;
				margin-bottom: 2em;
			}
		}
	} // end of .portfolio-content 
} // end of .portfolio-modal

.all-projects-link {
	display: block;
	text-align: center;
}

// if our browser supports grid layout we're going to use it
// instead of flex layout
@supports (display: grid) {
	.portfolio-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;

		@include mq {
			grid-template-columns: repeat(4, 1fr);
		}
	} // end of .portfolio-items

	.featured {
		figcaption {
			.portfolio-title {
				font-size: 5rem;
			}

			.portfolio-description {
				display: block;
			}
		}
	} // end of .featured

	.portfolio-item.featured	{
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
} // end of @supports (display: grid)

@keyframes modalIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes modalOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}