@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

// font-family for serif
$ff-s: 'Merriweather', serif;
// font-family for sans-serif
$ff-ss: 'Six Caps', sans-serif;

// font weights
$fw-n: 400;
$fw-b: 900;

@mixin sans-serif($fs, $ls: .15em, $color: $dark-grey, $tt: uppercase, $lh: 1, $fw: $fw-n) {
	font-size: $fs;
	letter-spacing: $ls;
	color: $color;
	text-transform: $tt;
	line-height: $lh;
	font-family: $ff-ss;
	font-weight: $fw;
}