@mixin container ($width: 90%, $max-width: 60em) {
	width: $width;
	margin: 0 auto;
	max-width: $max-width;
}

@mixin clearfix {
	&::after {
		display: block;
		content: '';
		clear: both;
	}
}

@mixin mq($width: 50em) {
	@media (min-width: $width) {
		@content;
	}
}